# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Database
database/*.db
database/garden.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Temporary logs
*.log
vscode-log.txt
